<script src="./scripts/login.js"></script>
<div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acesse sua conta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="usernameInput" autocomplete="on">
                    </div>
                    <div class="mb-3">
                        <label for="loginPasswordInput" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="loginPasswordInput" autocomplete="on">
                    </div>
                </form>
            <div class="d-flex">
                <p>Ainda não é membro?</p>
                <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#registerModal">Crie sua conta</a>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="signIn()">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crie sua conta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="registerUsernameInput" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="registerUsernameInput" placeholder="Ex: Vinícius" autocomplete="on">
                    </div>
                    <div class="mb-3">
                        <label for="registerPasswordInput" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="registerPasswordInput" autocomplete="on">
                    </div>
                </form>
                <div class="d-flex">
                    <p>Já é cadastrado?</p>
                    <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Acesse sua conta</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="signUp()">Registrar</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm fixed-top p-4" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img class="logo" src="./../misc/imgs/EasyChoice.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- <li class="nav-item">
                    <button class="nav-link btn" type="button">
                        <i class="fa-solid fa-magnifying-glass fa-2xl fa-fw icons"></i>
                    </button>
                </li> -->
                <li class="nav-item">
                    <a href="./../watchedhistory.html">
                        <button class="nav-link btn" type="button" title="Histórico de Assistidos">
                            <i class="fa-solid fa-clock-rotate-left fa-2xl fa-fw icons"></i>
                        </button>
                    </a>    
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" type="button" id="loginButton" title="Login" onclick="canLogin()">
                        <i class="fa-solid fa-user fa-2xl fa-fw icons"></i>
                    </button>
                </li>
                <li class="nav-item" id="logoutButton">
                    <button class="nav-link btn" type="button" id="logoutButton" title="Logout" onclick="canLogout()">
                        <i class="fa-solid fa-right-from-bracket fa-2xl fa-fw icons"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>