html,
body {
  height: 100%;
}

body {
    background-color: black;
    padding-top: 110px;
}

.content{
    position: relative;
    /* margin-top: 8%; */
    min-height: 100%
}

.history-title{
    color: rgb(128, 127, 127);
}

.poster {
    /* border-radius: 10px; */
    /* margin-top: 30%; */
    /* height: fit-content; */
    width: 80%;
}

.poster a:hover{
    width: 13%;
    position: absolute;
}

/* .poster-anchor{
   width: 80%;
} */



